.container {
  width: 700px;
  margin: 5rem auto;
}

.listItem {
  border-bottom: 1px solid aqua;
}

#inputForm {
  
  padding-bottom: 1rem;
}

#logo {
  font-style: italic;
  font-size: 4rem;
}

.label {
  display: block;
  width: 100%;
  outline: none;
  border: none;
  border-bottom: 1px solid black;
  margin-bottom: 1rem;
}

.btn {
  background: aqua;
  color: #333;
  padding: .5rem 1rem;
  border: none;

}

.hover:hover {
  cursor:pointer
}